body{
margin: 0;
min-height: 100vh;
justify-content: center;
align-items: center;
display: flex;
width: 100%;
height: 100%;
background: linear-gradient(to top right, gold 0%, grey 100%);

}
header{
    margin-top: -500px;
    display: flex;
    position: absolute;
    margin-left:900px;
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    color: white;
    left: 1px;
}
.container{
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 400px;
    background-color: white;
    border: none;
    justify-content: center;
    align-items: center;
    
 
}
.input{
    width: 270px;
    height: 40px;
    padding: 10px;
    color: #444444;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;
    flex-direction: 1fr;
    justify-content: center;
    font-size: 14px;
 
}
#input-1{
    margin-top: 100px;
}
.input-field{
    position: absolute;
    margin-left: 50px;
    margin-top:-40px;
    top: 140px;
    left:80px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 5px;
    color: #666;
    margin-bottom: 100px;
    transition: 0.3s;
    pointer-events: none;
}
.bi-eye-fill{
    width: 50px;
    height: 30px;
    display: flex;
    position: absolute;
    cursor: pointer;
    color: black;
    margin-right: 50px;
}
.input:focus{
    outline: 2px solid #0deaff;
    border: none;
}
.input:focus + .input-field, .input:not(:placeholder-shown) +.input-field{
    top:123px;
    left: 70px;
    font-size: 14px;
    background: white;
    color: #0deaff;
 
}
.input-box{
    position: absolute;
    text-align: center;
    padding: 0 5px;
    transition:0.3s;
    color: #666;
    pointer-events: none;
    top: 100px;
    margin-top: 90px;
    left: 130px;
    font-size: 20px;
}
.input:focus + .input-box, .input:not(:placeholder-shown)+ .input-box{
    top: 80px;
    left:120px;
    font-size: 15px;
    background-color: white;
    color: #0deaff;
}
button{
    width: 170px;
    height: 50px;
    color:white;
    background-color: rgb(114, 114, 245);
    border: none;
    border-radius:20px;
    margin-top: 50px;
    margin-left: 160px;
    text-align: center;
    cursor: pointer;
    transition: 0.3 ease;
}
button:hover{
    background: linear-gradient(darkred 0%, purple 100%);
    left: 2px;
}
/* Tablet media queries */
@media screen and (max-width: 1200px){
    body{
        width: 100%;
        height: 100%;
    }
    header{
        margin-right: 1300px;
        display:inline;
        position: absolute;
        font-size: 17px;
        width: 200px;
    }
   .container{
      width: 500px;
      height: 400px;
   }
   #input-1{
    width: 260px;
    height: 40px;
    margin-top: 100px;
    margin-right: 100px;
   }
   .input{
    width: 260px;
    height: 40px;
    margin-right: 70px;
    margin-top: 50px;
   }
   button{
    display: flex;
    margin-right: 100px;
    position: absolute;
    width: 150px;
    height: 50px;
   }
   .input-field{
    margin-top:-35px ;
   }
.input-box{
    margin-top:95px;
}
#btn{
    padding: 15px 40px 10px;
}

}
/* mobile screen queries */
@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
    header{
        margin-top: -500px;
        margin-right: 1180px;
        display: flex;
        position: absolute;
        font-size: 15px;
    }
   .container{
      width: 400px;
      height: 350px;
   }
   #input-1{
    width: 220px;
    height: 40px;
    margin-top: 80px;
    margin-right: 90px;
   }
   .input{
    width: 220px;
    height: 40px;
    margin-left: 80px;
    margin-top: 50px;
   }
  #btn{
    margin-left:120px;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 20px 45px;
   }
   .input-field{
    margin-top:-55px ;
    margin-left: 30px;
   }
.input-box{
    margin-top:75px;
    margin-left: -20px;
}
#btn:hover{
    left:0;
    margin-left:130px;
    background-color: linear-gradient(darkred 0%, purple 100%);
}

}